# .dockerignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.env.*
!.env.example
docs/
tests/
README.md
**/.DS_Store
**/Thumbs.db
build/
dist/
**/*.md
node_modules/
*.iml
.idea/
.vscode/
data/cache/*
data/history/*
data/videos/*
logs/*
tmp/
temp/